
<ion-backdrop
  *ngIf="cart"
  visible="false"
  disable-activated
  role="presentation"
  tappable
  style="opacity: 0.5;"
></ion-backdrop>
<ion-header>
  <ion-navbar>
   <img src="assets/imgs/logo.png" class="logo" alt="">

   <ion-buttons end>
    <button ion-button icon-only clear class="cart-btn" (click)="toggleCart()">
      <img src="assets/icon/cart.png" alt="">
      <ion-badge class="cart-badge" color="blue">1</ion-badge>
    </button>
   </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Hyped Releases</h3>

  <div class="products">
    <ion-grid>
      <ion-row>
          <ion-col col-6 *ngFor="let product of products">
            <button ion-item class="product-box" (click)="gotoProductsPage(product)">
              <p class="muted">{{ product.price | currency:'USD':'symbol':'2.2' }}</p>
              <img [src]="product.images[0].url"  alt="">
              <h4 class="product-title">{{ product.name.split(' ').slice(0, 2).join(' ') }}</h4>
            </button>
          </ion-col>

      </ion-row>


    </ion-grid>
  </div>
</ion-content>

<cart [cartDrawer]="cart" (closeCart)="toggleCart()"></cart>
