page-settings {
   .label-md h4, .label-ios h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #3B3B3B
    }

    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
        color: #3B3B3B;
    }

    .item-md ion-avatar ion-img, .item-md ion-avatar img, .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
        border-radius: 0px;
        height: 30px;
        width: 30px;
    }

    .btn-line{
        padding: 9px 16px 9px 0px;
        margin-left: 10px;  
        border-bottom: 1px solid #E4E1E3 !important;
    }
}
