<ion-header>
    <ion-navbar hideBackButton="true">
      <ion-buttons left>
        <button ion-button navPop icon-only>
          <ion-icon name="ios-arrow-back" color="primary"></ion-icon>
        </button>
      </ion-buttons>

      <ion-title text-center>Orders</ion-title>
    </ion-navbar>
  </ion-header>



<ion-content>
  <ion-list *ngIf="orders">
    <button ion-item clear lines *ngFor="let order of orders">
      <ion-row padding>
        <ion-col col-4>
          <img [src]="order.product_variation.product.images[0].url" alt="">
        </ion-col>
        <ion-col col-8>
          <p class="strong">Shipped: Date Shipped</p>
          <p>{{ order.product_variation.product.name.split(' ').slice(0, 2).join(' ') }}</p>
          <p>{{ order.amount | currency:'USD':'symbol':'2.2'  }}</p>
          <ion-row>
            <ion-col col-4>
              <button ion-button [color]="order.type === 'nebula' ? 'purple' : 'blue'" class="btn-sm">Buy it again</button>
            </ion-col>
            <ion-col col-8>
              <div class="muted" float-right>
                <p>Date Purchased</p>
                <p>Item #: {{ order.code.substr(0, 6) }}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </button>
  </ion-list>
</ion-content>
